@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins" quicksand,sans-serif;
    background-color: #141414;
}

a{
    text-decoration: none;

}
ul{list-style-type: none;}
.flexSB{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 90%;
    margin:  auto;
}
button{
    background-color: #ff7300;
    outline: none;
    border: none;
    color: #fff;
    padding: 12px 40px;
    font-weight: 600;
    font-size: 16px;
}